<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item" brewer:menu="@{/}">
          			<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        		</li>
        		
        		<li class="aw-menu__item" >
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Venda</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist"  sec:authorize="hasRole('ROLE_CADASTRAR_VENDA')">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/vendas.+}">
			            	<a th:href="@{/vendas/nova}">Cadastro venda</a>
			            </li>
			        </ul>
			        <ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/vendas}">
			            	<a th:href="@{/vendas}">Pesquisa de vendas</a>
			            </li>
			        </ul>
			    </li>
			    
			    <li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-bank"></i><span>Financeiro</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link">
			            	<a th:href="@{/cervejas}">Novo lançamento</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link">
			            	<a th:href="@{/estilos}">Pesquisar Lançamentos</a>
			            </li>
          			</ul>
        		</li>

        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-truck"></i><span>Estoque</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/cervejas.*}">
			            	<a th:href="@{/cervejas}">Cervejas</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/estilos.*}">
			            	<a th:href="@{/estilos}">Estilos</a>
			            </li>
          			</ul>
        		</li>

        		
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-money"></i><span>Cadastros financeiros</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" >
			            	<a th:href="@{/clientes}">Históricos financeiros</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" >
			            	<a th:href="@{/usuarios}">Contas financeiras</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link">
			            	<a th:href="@{/cidades}">Instituições bancárias</a>
			            </li>
          			</ul>
        		</li>
				
				<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-database"></i><span>Cadastros comuns</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/clientes.*}">
			            	<a th:href="@{/clientes}">Clientes</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/usuarios.*}">
			            	<a th:href="@{/usuarios}">Usuários</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/cidades.*}">
			            	<a th:href="@{/cidades}">Cidades</a>
			            </li>
          			</ul>
        		</li>

				<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-file-pdf-o "></i><span>Relatórios</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link">
			            	<a th:href="@{/}">Venda</a>
			            </li>
          			</ul>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link">
			            	<a th:href="@{/clientes}">Cadastros Básicos</a>
			            </li>
          			</ul>
        		</li>

      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>