<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao">

<head>
	<title>Cadastro de estilo</title>
</head>

<body>

	<!-- Início da section principal -->
	<section class="aw-layout-content js-content" layout:fragment="conteudo">
	
		<!-- Início Header -->
		<div class="page-header">
			<div class="container-fluid">
				<div class="col-xs-10">
					<h1>Cadastro de estilo</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/estilos}">
							<i class="fa  fa-fw  fa-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Fim Header -->
		
		<!-- Início container-fluid -->
		<div class="container-fluid">
			
			<th:block th:include="fragments/MensagemSucesso"></th:block>
			
			<!-- Início form -->
			<form method="post" th:object="${estilo}"  th:action="@{/estilos/novo}">
			
				<th:block th:include="fragments/MensagensErroValidacao"></th:block>
				
				<div class="row">
					<div class="col-sm-6 form-group bw-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}" autofocus="autofocus">
					</div>
				</div>
				<button type="submit" class="btn  btn-primary">Salvar</button>
			
			</form>
			<!-- Fim form -->
			
		<!-- Fim container-fluid -->
		</div>
	
	<!-- Fim da section principal -->
	</section>
</body>
</html>